* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}
#start {
    margin-top: 2%;
    width: 300px;
    height: 100px;
    font-size: 30px;
    border-radius: 10px 10px 10px 10px;
}
.infos {
    display: none;
}
button{
    cursor: pointer;
}
.console {
    background-color: white;
    height: 70%;
    display: flex;
    flex-direction: column;
    border: 15px solid gray;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: inset 0px 0px 5px 5px rgba(51, 51, 51, 0.39);
    box-shadow: inset 0px 0px 5px 5px rgba(51, 51, 51, 0.39);
}
.haut {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#infos {
    font-size: 22px;
    color: white;
}
.ecran {
    height: 150px;
    width: 90%;
    background-color: black;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
}

#simon {
    display: grid;
    grid-template-areas:
        'blue red yellow'
        'green grey orange'
        'cyan purple brown';
    height: 300px;
    width: 300px;
    gap: 10px;
    padding: 10px;
}

#blue.activated,
#red.activated,
#yellow.activated,
#lgreen.activated,
#grey.activated,
#orange.activated,
#green.activated,
#purple.activated,
#brown.activated {
    transform: translateY(5px);
}

#blue,
#red,
#yellow,
#lgreen,
#grey,
#orange,
#green,
#purple,
#brown {
    border-radius: 5%;
    border: 2px solid black;
    -webkit-box-shadow: inset 0px 0px 5px 5px rgba(51, 51, 51, 0.39);
    box-shadow: inset 0px 0px 5px 5px rgba(51, 51, 51, 0.39);
    cursor: pointer; /* Add this line */
}

#blue {
    background-color: blue;
    grid-area: blue;
}

#red {
    background-color: red;
    grid-area: red;
}

#yellow {
    background-color: yellow;
    grid-area: yellow;
}

#lgreen {
    background-color: lightgreen;
    grid-area: green;
}

#grey {
    background-color: grey;
    grid-area: grey;
}

#orange {
    background-color: orange;
    grid-area: orange;
}

#green {
    background-color: green;
    grid-area: cyan;
}

#purple {
    background-color: purple;
    grid-area: purple;
}

#brown {
    background-color: brown;
    grid-area: brown;
}
